a {
     /* 2000 */
    color: #9BB7D4; 
    color: #c74375;
    color: #bf1932;
    color: #7bc4c4;
    color: #e2583e;
    color: #53b0ae;
    color: #decdbe;
    color: #9b1b30;
    color: #5a5b9f;
    color: #f0c05a;
    color: #45b5aa;
    color: #d94f70;
    color: #dd4124;
    color: #009473;
    color: #ad5e99;
    color: #964f4c;
    color: #93a9d1;
    color: #f7caca;
    color: #88b04b;
    color: #5f4b8b;
    color: #ff6f61;
    color: #0f4c81;
    color: #939597;
    color: #f5df4d;
    color: #6667AB;
    color: #bb2649;
    


}