nav {
  /* border: 1px solid red; */
  box-sizing: border-box;
  width: 1000px;
  height: 40px;
}

#mainmenu {
  /* border: 1px solid red; */
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

#mainmenu > li {
  float: left;
  width: 20%;
  height: 100%;
  text-align: center;
}

#mainmenu a {
  text-decoration: none;
  color: orange;
  font-size: 1.5em;
  font-weight: 900;
  display: block;
  height: 100%;
  line-height: 35px;
}
/* height : 100%는 a태그를 block레벨로 바꾸고 사용*/

#mainmenu a:hover {
  color: orangered;
}

#mainmenu > li > ul {
  list-style-type: none;
  padding: 0px;
  display: none;
}

#mainmenu > li > a:hover + ul {
  display: block;
}

#mainmenu > li > ul:hover {
  display: block;
}

#mainmenu > li > ul a {
  font-size: 1.2em;
}
